<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="panel with-nav-tabs panel-default" th:fragment="content">

    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabcompanies" data-toggle="tab">Companies
                <span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="#tabusers" data-toggle="tab">Users <span class="glyphicon glyphicon-user"></span></a>
            </li>
            <li><a href="#tabreports" data-toggle="tab">Reports
                <span class="glyphicon glyphicon-list-alt"></span></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tabcompanies">
                <table class="table table-striped display" id="companyTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane fade" id="tabusers">
                <table class="table table-striped display" id="userTable">
                    <thead>
                    <tr>
                        <th>Last name</th>
                        <th>First name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Company</th>
                        <th>Roles</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane fade" id="tabreports">
                <table class="table table-striped display" id="reportTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Data</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <!--    <th:block th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
            <p class="text-center" th:utext="${message}"></p>
        </th:block>

        <th:block th:if="${#authorization.expression('!hasAuthority(''ADMIN'')')}">
            <p class="text-center">Non admin message</p>
        </th:block>-->

    <!--   modal forms  -->
    <th:block th:replace="~{fragments/modals/user :: editUser}"></th:block>
    <th:block th:replace="~{fragments/modals/company :: editCompany}"></th:block>
    <th:block th:replace="~{fragments/modals/report :: editReport}"></th:block>
    <!-- --------------------------------------------------------------------------------------- -->
    <!-- ---------------------------        ACTIONS WITH CONFIRM         ----------------------- -->
    <!-- --------------------------------------------------------------------------------------- -->
    <script type="application/javascript" src="/js/datatableUtils.js" defer></script>
    <script type="application/javascript" src="/js/userDatatables.js" defer></script>
    <script type="application/javascript" src="/js/companyDatatables.js" defer></script>
    <script type="application/javascript" src="/js/reportDatatables.js" defer></script>

</div>
</body>
</html>