<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="panel with-nav-tabs panel-default" th:fragment="content">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabcompanies" data-toggle="tab">Companies</a></li>
            <li><a href="#tabusers" data-toggle="tab">Users</a></li>
            <li><a href="#tabreports" data-toggle="tab">Reports</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tabcompanies">Companies list</div>
            <div class="tab-pane fade" id="tabusers">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th class="col-md-1">Column 1</th>
                        <th>Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Data</td>
                        <td>Content</td>
                    </tr>
                    <tr>
                        <td>Data</td>
                        <td>Content</td>
                    </tr>
                    <tr>
                        <td>Data</td>
                        <td>Content</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="tabreports">Reports list</div>
        </div>
    </div>

    <th:block th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
        <p class="text-center" th:utext="${message}"></p>
    </th:block>

    <th:block th:if="${#authorization.expression('!hasAuthority(''ADMIN'')')}">
        <p class="text-center">Non admin message</p>
    </th:block>
</div>

</body>
</html>