<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="navbar-fixed-bottom row-fluid" th:fragment="footer">
    <div class="navbar-inner">
        <div class="container">
            <div class="panel-footer" th:align="center">&copy;
                <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2017</span><span> The test task for SEVEN</span>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var localeCode = [[${#locale.language}]];

        /*]]>*/
// TODO разобраться, массивы в зимлифф глянуть
/*        <c:forEach var='key' items='<%=new String[]{"common.deleted","common.saved","common.enabled","common.disabled","common.status", "users.edit", "meals.edit", "common.search"}%>'>
        i18n['${key}'] = '<spring:message code="${key}"/>';
        </c:forEach>*/
    </script>
</div>
</body>

</html>
