<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="panel panel-default" th:align="center" th:fragment="footer">
    <div class="panel-body">
        Здесь должна быть пагинация
    </div>

    <div class="panel-footer" th:align="center">&copy; <span
            th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2017</span>
        <span>The test task for SEVEN</span>
        <th:block
                th:if="${#authorization.expression('isAuthenticated()') and #authorization.expression('hasRole(''ADMIN'')')}">
            <p th:text="${@environment.getProperty('app.version')}"></p>
        </th:block>
    </div>
</div>

</body>

</html>
