<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="navbar-fixed-bottom row-fluid" th:fragment="footer">
    <div class="navbar-inner">
        <div class="container">
            <div class="panel-footer" th:align="center">&copy;
                <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2017</span><span> The test task for SEVEN</span>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var localeCode = [[${#locale.language}]];

        /*]]>*/
    </script>
</div>
</body>

</html>
