<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="panel panel-info" th:fragment="header">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px">
            <span th:utext="${userName}"></span>
        </h4>

        <div class="dropdown pull-right" style="padding-top: 7.5px">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
                <li><a href="#">New company</a></li>
                <!-- TODO сделать отдельной функцией очистку форм. Потом вызывать с каждой-->
                <li><a href="#" data-toggle="modal" data-target="#editUser" onclick="myvalidate()">New user</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        function myvalidate() {
            var form = $('#detailsForm');
            form.find(':input').val('');
            // get validator and reset it
            form.data('bs.validator').reset();
        }
    </script>
</div>
</body>

</html>