<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="panel panel-info" th:fragment="header">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px">
            <span th:utext="${userName}"></span>
        </h4>

<!--    на будущее
        <span th:text="#{lang.change}"></span>:
        <select id="locales">
            <option value=""></option>
            <option value="en" th:text="#{lang.eng}"></option>
            <option value="fr" th:text="#{lang.fr}"></option>
        </select>-->

        <div class="dropdown pull-right" style="padding-top: 7.5px">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
                <li th:if="${#authorization.expression('!hasAuthority(''COMPANY_EMPLOYER'')')}"><a href="#" data-toggle="modal" data-target="#editUser" onclick="myValidate(frmDetailsArr[0])">New user</a></li>
                <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a href="#" data-toggle="modal" data-target="#editCompany" onclick="myValidate(frmDetailsArr[1])">New company</a></li>
                <li th:if="${#authorization.expression('!hasAuthority(''ADMIN'')')}"><a href="#" data-toggle="modal" data-target="#editReport" onclick="myValidate(frmDetailsArr[2])">New report</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </div>
</div>
</body>

</html>