<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css">
    <script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js" defer></script>
</head>
<body>
<th:block th:if="${#authorization.expression('isAuthenticated()')}">
    <div class="container">
        <th:block th:replace="~{fragments/header :: header}"></th:block>
        <th:block th:replace="~{fragments/content :: content}"></th:block>
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    </div>
</th:block>
</body>
</html>