<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SEVEN's test task</title>
    <th:block th:replace="~{fragments/includs :: ui}"></th:block>
</head>
<body>
<th:block th:if="${#authorization.expression('isAuthenticated()')}">
    <div class="container">
        <th:block th:replace="~{fragments/header :: header}"></th:block>
        <th:block th:replace="~{fragments/content :: content}"></th:block>
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    </div>
</th:block>
</body>
</html>